body {
    background: #131313;
}
.main {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
#timerDiv1 {
    /* border: white 2px solid; */
    /* border-radius: 50%; */
    /* height: 200px !important; */
    flex: 0 1 100%;
    align-self: center;
    /* margin: 0 auto; */
}
#time {
    display: inline-block;
    color: white;
    text-align: center;
    /* line-height: 100px; */
    /* transform: translateY(-50%);  */
    position: relative;
    top: 100px;
    left: 70px;
}
.counter {
    margin-top: 100px;
    border: 2px white solid;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    flex-flow: row wrap;
    color: white;
    font-size: 20px;
    flex: 0 1 auto;
    justify-content: center;
}
#t {
    width: 100px;
}
#timerDiv2{
    width: 250px;
    height: 250px;
    border: 2px green solid;
    margin: 0 auto;
    border-radius: 50%;
}
a {
    flex: 0 1 30%;
    color: white;
    text-decoration: none;
    /* display: inline-block; */
}
.counterDisplay {
    flex: 0 1 30%;
    color: white;
}
.counterText {
    flex: 1 1 100%;
    width: 100%;
}
.counterText p {
    text-align: center;
}
canvas {
    opacity: 0;
}